.mail_form_div
{
	/* padding: 15px; */
	
    /*background: transparent url('../images/email.png') no-repeat right top;	*/
	/* min-height: 300px; */
}

.mail_form_div input[type='text'], .mail_form_div textarea {
	background: transparent;
    border: 1px solid #ffa853; 
    border-radius: 5px; 
    box-shadow: 0 0 3px 1px #dda853; 
    color: #666; 
    outline: none; 
    height:30px; 
	margin: 0 0 15px 0;
	padding: 5px;
  } 
  
.mail_form_div input[type='text']:focus, .mail_form_div textarea:focus {
    box-shadow: 0 0 3px 2px #dda853; 
  } 
  
.mail_form_div input[type='text'] {
    width: 100%;		
}  
  
.mail_form_div textarea { 
    height:90px; 
	width: 100%;
}

.mail_form_div tr {
	margin: 15px;
}

.mail_form_div .valignTop
{
	vertical-align: top;
}

.mail_form_div .alignRight
{
	text-align: right;
}

/* .mail_form_div .buttonSubmit
{
	padding-right: 25px;
} */


.contatos
{
	width: 500px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}










#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {

	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
/* 	width: 450px;
	
	margin-left: auto;
	margin-right: auto; */
	
	/* margin-top:30px; */

}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.row-contato
{
	background: #f7f7f7 url('images/bg02.png');
	padding: 10px 0;
	width: 100%;
}

@media screen and (min-width: 1281px) {
	.row-contato-interna
	{
		background-color:rgba(72,72,72,0.4);
	  -moz-border-radius: 7px;
	  -webkit-border-radius: 7px;
		width: 900px;
		margin: 10px auto;
		position: relative;
		
	}
}

@media screen and (max-width: 1280px) {
	.row-contato-interna
	{
		background-color:rgba(72,72,72,0.4);
	  -moz-border-radius: 7px;
	  -webkit-border-radius: 7px;
		width: 95%;
		margin: 0px auto;
		position: relative;
	}
	
	.width100Mob
	{
		width: 100% !important;
	}
}

.contatos-texto
{
	padding: 35px 0 0 20px;
	text-align: justify;
	font-weight: bold;
}

.biggerFont
{
	font-size: 19px;
}

.margin5
{
	margin: 0 5px 0 0;
}

.floatLeft
{
	float: left;
}

.clear
{
	clear: both;
}