.mail_form_div
{
	border-collapse: separate; border-spacing: 10px; 
}

.mail_form_div input[type='text'], .mail_form_div textarea {
    background: transparent; 
    border: 1px solid #ffa853; 
    border-radius: 5px; 
    box-shadow: 0 0 3px 1px #dda853; 
    color: #666; 
    outline: none; 
    height:30px; 
    width: 500px;
	margin: 0 0 15px 0;
	padding: 5px;
  } 
  
.mail_form_div input[type='text']:focus, .mail_form_div textarea:focus {
    box-shadow: 0 0 3px 2px #dda853; 
  } 
  
.mail_form_div textarea { 
    height:90px; 
    width: 500px;	
}

.mail_form_div tr {
	margin: 15px;
}

.mail_form_div .valignTop
{
	vertical-align: top;
}

.mail_form_div .alignRight
{
	text-align: right;
}

/* .mail_form_div .buttonSubmit
{
	padding-right: 25px;
} */


.contatos
{
	width: 500px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}